### PD_Class2

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('C:\\Users\\HP\\Documents\\python-practice\\Pandas_Classes\\data fsds\\sales_data_final.csv')
df

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,Office Supplies,Storage,"Tenex Lockers, Blue",408,2,0.0,106.1400,35.46,Medium,2011
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Office Supplies,Supplies,"Acme Trimmer, High Speed",120,3,0.1,36.0360,9.72,Medium,2011
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,Office Supplies,Storage,"Tenex Box, Single Width",66,4,0.0,29.6400,8.17,High,2011
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,Office Supplies,Paper,"Enermax Note Cards, Premium",45,3,0.5,-26.0550,4.82,High,2011
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Furniture,Furnishings,"Eldon Light Bulb, Duo Pack",114,5,0.1,37.7700,4.70,Medium,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,Office Supplies,Binders,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",14,2,0.2,4.5188,0.89,Medium,2014
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-DraÂƒ,Morocco,Africa,Africa,...,Office Supplies,Binders,"Wilson Jones Hole Reinforcements, Clear",4,1,0.0,0.4200,0.49,Medium,2014
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,Office Supplies,Labels,"Hon Color Coded Labels, 5000 Label Set",26,3,0.0,12.3600,0.35,Medium,2014
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,Office Supplies,Labels,"Hon Legal Exhibit Labels, Alphabetical",7,1,0.0,0.5600,0.20,Medium,2014
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,Office Supplies,Fasteners,Bagged Rubber Bands,3,3,0.2,-0.6048,0.17,Medium,2014

In [5]:
df.columns

Index(['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_name',
       'segment', 'state', 'country', 'market', 'region', 'product_id',
       'category', 'sub_category', 'product_name', 'sales', 'quantity',
       'discount', 'profit', 'shipping_cost', 'order_priority', 'year'],
      dtype='object')

In [6]:
df['order_date']

0          1/1/2011
1          1/1/2011
2          1/1/2011
3          1/1/2011
4          1/1/2011
            ...
51285    12/31/2014
51286    12/31/2014
51287    12/31/2014
51288    12/31/2014
51289    12/31/2014
Name: order_date, Length: 51290, dtype: object

In [7]:
type(df['order_date'])

pandas.core.series.Series

In [8]:
df.dtypes

order_id           object
order_date         object
ship_date          object
ship_mode          object
customer_name      object
segment            object
state              object
country            object
market             object
region             object
product_id         object
category           object
sub_category       object
product_name       object
sales              object
quantity            int64
discount          float64
profit            float64
shipping_cost     float64
order_priority     object
year                int64
dtype: object

In [9]:
df['profit']

0        106.1400
1         36.0360
2         29.6400
3        -26.0550
4         37.7700
           ...
51285      4.5188
51286      0.4200
51287     12.3600
51288      0.5600
51289     -0.6048
Name: profit, Length: 51290, dtype: float64

In [11]:
df[['order_id','profit','year']]

              order_id    profit  year
0         AG-2011-2040  106.1400  2011
1        IN-2011-47883   36.0360  2011
2         HU-2011-1220   29.6400  2011
3      IT-2011-3647632  -26.0550  2011
4        IN-2011-47883   37.7700  2011
...                ...       ...   ...
51285   CA-2014-115427    4.5188  2014
51286     MO-2014-2560    0.4200  2014
51287   MX-2014-110527   12.3600  2014
51288   MX-2014-114783    0.5600  2014
51289   CA-2014-156720   -0.6048  2014

[51290 rows x 3 columns]

In [12]:
type(df[['order_id','profit','year']])

pandas.core.frame.DataFrame

In [13]:
df.describe()

           quantity      discount        profit  shipping_cost          year
count  51290.000000  51290.000000  51290.000000   51290.000000  51290.000000
mean       3.476545      0.142908     28.641740      26.375915   2012.777208
std        2.278766      0.212280    174.424113      57.296804      1.098931
min        1.000000      0.000000  -6599.978000       0.000000   2011.000000
25%        2.000000      0.000000      0.000000       2.610000   2012.000000
50%        3.000000      0.000000      9.240000       7.790000   2013.000000
75%        5.000000      0.200000     36.810000      24.450000   2014.000000
max       14.000000      0.850000   8399.976000     933.570000   2014.000000

In [16]:
df.dtypes

order_id           object
order_date         object
ship_date          object
ship_mode          object
customer_name      object
segment            object
state              object
country            object
market             object
region             object
product_id         object
category           object
sub_category       object
product_name       object
sales              object
quantity            int64
discount          float64
profit            float64
shipping_cost     float64
order_priority     object
year                int64
dtype: object

In [17]:
df.dtypes == 'object'

order_id           True
order_date         True
ship_date          True
ship_mode          True
customer_name      True
segment            True
state              True
country            True
market             True
region             True
product_id         True
category           True
sub_category       True
product_name       True
sales              True
quantity          False
discount          False
profit            False
shipping_cost     False
order_priority     True
year              False
dtype: bool

In [18]:
df.dtypes[df.dtypes == 'object']

order_id          object
order_date        object
ship_date         object
ship_mode         object
customer_name     object
segment           object
state             object
country           object
market            object
region            object
product_id        object
category          object
sub_category      object
product_name      object
sales             object
order_priority    object
dtype: object

In [19]:
type(df.dtypes[df.dtypes == 'object'])

pandas.core.series.Series

In [21]:
df.dtypes[df.dtypes == 'object'].index

Index(['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_name',
       'segment', 'state', 'country', 'market', 'region', 'product_id',
       'category', 'sub_category', 'product_name', 'sales', 'order_priority'],
      dtype='object')

In [22]:
df[df.dtypes[df.dtypes == 'object'].index]

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,product_id,category,sub_category,product_name,sales,order_priority
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,OFF-TEN-10000025,Office Supplies,Storage,"Tenex Lockers, Blue",408,Medium
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,OFF-SU-10000618,Office Supplies,Supplies,"Acme Trimmer, High Speed",120,Medium
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,OFF-TEN-10001585,Office Supplies,Storage,"Tenex Box, Single Width",66,High
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,OFF-PA-10001492,Office Supplies,Paper,"Enermax Note Cards, Premium",45,High
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,FUR-FU-10003447,Furniture,Furnishings,"Eldon Light Bulb, Duo Pack",114,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,OFF-BI-10002103,Office Supplies,Binders,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",14,Medium
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-DraÂƒ,Morocco,Africa,Africa,OFF-WIL-10001069,Office Supplies,Binders,"Wilson Jones Hole Reinforcements, Clear",4,Medium
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,OFF-LA-10004182,Office Supplies,Labels,"Hon Color Coded Labels, 5000 Label Set",26,Medium
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,OFF-LA-10000413,Office Supplies,Labels,"Hon Legal Exhibit Labels, Alphabetical",7,Medium
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,OFF-FA-10003472,Office Supplies,Fasteners,Bagged Rubber Bands,3,Medium

In [23]:
df.shape

(51290, 21)

In [24]:
df[df.dtypes[df.dtypes == 'object'].index].describe()

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,product_id,category,sub_category,product_name,sales,order_priority
count,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290
unique,25035,1430,1464,4,795,3,1094,147,7,13,10292,3,17,3788,2246,4
top,CA-2014-100111,6/18/2014,11/22/2014,Standard Class,Muhammed Yedwab,Consumer,California,United States,APAC,Central,OFF-AR-10003651,Office Supplies,Binders,Staples,13,Medium
freq,14,135,130,30775,108,26518,2001,9994,11002,11117,35,31273,6152,227,589,29433

In [25]:
df[df.dtypes[df.dtypes=='float64'].index]

       discount    profit  shipping_cost
0           0.0  106.1400          35.46
1           0.1   36.0360           9.72
2           0.0   29.6400           8.17
3           0.5  -26.0550           4.82
4           0.1   37.7700           4.70
...         ...       ...            ...
51285       0.2    4.5188           0.89
51286       0.0    0.4200           0.49
51287       0.0   12.3600           0.35
51288       0.0    0.5600           0.20
51289       0.2   -0.6048           0.17

[51290 rows x 3 columns]

In [26]:
df['order_id']

0           AG-2011-2040
1          IN-2011-47883
2           HU-2011-1220
3        IT-2011-3647632
4          IN-2011-47883
              ...
51285     CA-2014-115427
51286       MO-2014-2560
51287     MX-2014-110527
51288     MX-2014-114783
51289     CA-2014-156720
Name: order_id, Length: 51290, dtype: object

In [27]:
df['order_id'][1:4]

1      IN-2011-47883
2       HU-2011-1220
3    IT-2011-3647632
Name: order_id, dtype: object

In [28]:
df['order_id'][1:40:2]

1       IN-2011-47883
3     IT-2011-3647632
5       IN-2011-47883
7       IN-2011-79397
9        IZ-2011-4680
11      IN-2011-65159
13      IN-2011-33652
15     MX-2011-160234
17      ID-2011-80230
19      ID-2011-12596
21       IR-2011-7690
23       TZ-2011-7370
25      IN-2011-65159
27     MX-2011-111255
29     MX-2011-158771
31     MX-2011-111255
33     US-2011-136007
35     MX-2011-159373
37    IT-2011-2942451
39      IN-2011-33036
Name: order_id, dtype: object

In [29]:
df['category']

0        Office Supplies
1        Office Supplies
2        Office Supplies
3        Office Supplies
4              Furniture
              ...
51285    Office Supplies
51286    Office Supplies
51287    Office Supplies
51288    Office Supplies
51289    Office Supplies
Name: category, Length: 51290, dtype: object

In [30]:
df['category1']= 'murali'

In [31]:
df

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year,category1
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,Storage,"Tenex Lockers, Blue",408,2,0.0,106.1400,35.46,Medium,2011,murali
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Supplies,"Acme Trimmer, High Speed",120,3,0.1,36.0360,9.72,Medium,2011,murali
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,Storage,"Tenex Box, Single Width",66,4,0.0,29.6400,8.17,High,2011,murali
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,Paper,"Enermax Note Cards, Premium",45,3,0.5,-26.0550,4.82,High,2011,murali
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Furnishings,"Eldon Light Bulb, Duo Pack",114,5,0.1,37.7700,4.70,Medium,2011,murali
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,Binders,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",14,2,0.2,4.5188,0.89,Medium,2014,murali
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-DraÂƒ,Morocco,Africa,Africa,...,Binders,"Wilson Jones Hole Reinforcements, Clear",4,1,0.0,0.4200,0.49,Medium,2014,murali
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,Labels,"Hon Color Coded Labels, 5000 Label Set",26,3,0.0,12.3600,0.35,Medium,2014,murali
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,Labels,"Hon Legal Exhibit Labels, Alphabetical",7,1,0.0,0.5600,0.20,Medium,2014,murali
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,Fasteners,Bagged Rubber Bands,3,3,0.2,-0.6048,0.17,Medium,2014,murali

In [32]:
df['order_id'].isnull()

0        False
1        False
2        False
3        False
4        False
         ...
51285    False
51286    False
51287    False
51288    False
51289    False
Name: order_id, Length: 51290, dtype: bool

In [36]:
df1 = pd.read_csv('C:\\Users\\HP\\Documents\\python-practice\\Pandas_Classes\\data fsds\\Dress_Sales.csv')

In [37]:
df1

,Dress_ID,29/8/2013,31/8/2013,09-02-2013,09-04-2013,09-06-2013,09-08-2013,09-10-2013,09-12-2013,14/9/2013,...,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35
0,1006032852,2114,2274,2491,2660,2727,2887,2930,3119,3204,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1212192089,151,275,570,750,813,1066,1164,1558,1756,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1190380701,6,7,7,7,8,8,9,10,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,966005983,1005,1128,1326,1455,1507,1621,1637,1723,1746,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,876339541,996,1175,1304,1396,1432,1559,1570,1638,1655,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,713391965,0,0,0,560,554,544,537,525,519,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
496,722565148,0,0,0,875,866,861,854,850,844,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
497,532874347,0,0,0,734,728,726,715,694,690,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
498,655464934,0,0,0,254,259,261,263,268,270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
499,919930954,0,0,0,538,545,558,563,578,585,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
df.columns

Index(['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_name',
       'segment', 'state', 'country', 'market', 'region', 'product_id',
       'category', 'sub_category', 'product_name', 'sales', 'quantity',
       'discount', 'profit', 'shipping_cost', 'order_priority', 'year',
       'category1'],
      dtype='object')

In [41]:
df[df['profit']==max(df['profit'])]

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year,category1
29530,CA-2013-118689,10/3/2013,10/10/2013,Standard Class,Tamara Chand,Corporate,Indiana,United States,US,Central,...,Copiers,Canon imageCLASS 2200 Advanced Copier,"17,500",5,0.0,8399.976,349.07,Medium,2013,murali

In [42]:
df['country']

0              Algeria
1            Australia
2              Hungary
3               Sweden
4            Australia
             ...
51285    United States
51286          Morocco
51287        Nicaragua
51288           Mexico
51289    United States
Name: country, Length: 51290, dtype: object

In [44]:
df[df['country']=='Sweden']

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year,category1
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,Paper,"Enermax Note Cards, Premium",45,3,0.5,-26.055,4.82,High,2011,murali
168,IT-2011-5951216,1/13/2011,1/20/2011,Standard Class,Stuart Calhoun,Consumer,VÂ„stra GÂ”taland,Sweden,EU,North,...,Art,"Sanford Pens, Fluorescent",31,5,0.5,-13.650,2.16,Medium,2011,murali
477,IT-2011-5645183,2/3/2011,2/5/2011,Second Class,Max Ludwig,Home Office,Uppsala,Sweden,EU,North,...,Art,"Boston Pencil Sharpener, Easy-Erase",91,6,0.5,-61.650,6.64,Medium,2011,murali
1342,IT-2011-5233011,3/31/2011,4/6/2011,Standard Class,Todd Sumrall,Corporate,VÂ„stra GÂ”taland,Sweden,EU,North,...,Furnishings,"Advantus Photo Frame, Durable",40,2,0.6,-44.052,2.78,Medium,2011,murali
1554,IT-2011-2419493,4/12/2011,4/13/2011,First Class,Alice McCarthy,Corporate,Stockholm,Sweden,EU,North,...,Phones,"Nokia Headset, VoIP",73,2,0.5,-11.760,22.18,High,2011,murali
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50948,IT-2014-5217096,12/26/2014,12/31/2014,Standard Class,Trudy Glocke,Consumer,Stockholm,Sweden,EU,North,...,Accessories,"Belkin Flash Drive, Bluetooth",21,1,0.5,-5.460,0.98,Medium,2014,murali
50949,IT-2014-5217096,12/26/2014,12/31/2014,Standard Class,Trudy Glocke,Consumer,Stockholm,Sweden,EU,North,...,Furnishings,"Advantus Photo Frame, Durable",20,1,0.6,-22.026,0.98,Medium,2014,murali
50972,IT-2014-4046179,12/27/2014,12/30/2014,Second Class,Jeremy Farry,Consumer,Stockholm,Sweden,EU,North,...,Appliances,"KitchenAid Refrigerator, Black","1,582",6,0.5,-443.070,55.39,Medium,2014,murali
51086,IT-2014-2362249,12/29/2014,1/1/2015,First Class,Mitch Gastineau,Corporate,Stockholm,Sweden,EU,North,...,Art,"BIC Pens, Fluorescent",31,4,0.5,-10.680,8.44,High,2014,murali
51121,IT-2014-2362249,12/29/2014,1/1/2015,First Class,Mitch Gastineau,Corporate,Stockholm,Sweden,EU,North,...,Art,"Sanford Highlighters, Blue",8,1,0.5,-6.165,2.00,High,2014,murali

In [49]:
df[df['shipping_cost']>80]['country']

7          Australia
8        New Zealand
9               Iraq
27            Brazil
43            Mexico
            ...
51154      Indonesia
51228         Brazil
51229      Indonesia
51230         Russia
51231       Thailand
Name: country, Length: 3984, dtype: object

In [50]:
df.columns

Index(['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_name',
       'segment', 'state', 'country', 'market', 'region', 'product_id',
       'category', 'sub_category', 'product_name', 'sales', 'quantity',
       'discount', 'profit', 'shipping_cost', 'order_priority', 'year',
       'category1'],
      dtype='object')

In [51]:
df['order_date']

0          1/1/2011
1          1/1/2011
2          1/1/2011
3          1/1/2011
4          1/1/2011
            ...
51285    12/31/2014
51286    12/31/2014
51287    12/31/2014
51288    12/31/2014
51289    12/31/2014
Name: order_date, Length: 51290, dtype: object

In [53]:
ordre_date= pd.to_datetime(df['order_date'])

In [55]:
type(ordre_date[0])

pandas._libs.tslibs.timestamps.Timestamp

In [56]:
df['convert_oreder_date'] = pd.to_datetime(df['order_date'])

In [57]:
df

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year,category1,convert_oreder_date
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,"Tenex Lockers, Blue",408,2,0.0,106.1400,35.46,Medium,2011,murali,2011-01-01
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,"Acme Trimmer, High Speed",120,3,0.1,36.0360,9.72,Medium,2011,murali,2011-01-01
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,"Tenex Box, Single Width",66,4,0.0,29.6400,8.17,High,2011,murali,2011-01-01
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,"Enermax Note Cards, Premium",45,3,0.5,-26.0550,4.82,High,2011,murali,2011-01-01
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,"Eldon Light Bulb, Duo Pack",114,5,0.1,37.7700,4.70,Medium,2011,murali,2011-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",14,2,0.2,4.5188,0.89,Medium,2014,murali,2014-12-31
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-DraÂƒ,Morocco,Africa,Africa,...,"Wilson Jones Hole Reinforcements, Clear",4,1,0.0,0.4200,0.49,Medium,2014,murali,2014-12-31
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,"Hon Color Coded Labels, 5000 Label Set",26,3,0.0,12.3600,0.35,Medium,2014,murali,2014-12-31
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,"Hon Legal Exhibit Labels, Alphabetical",7,1,0.0,0.5600,0.20,Medium,2014,murali,2014-12-31
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,Bagged Rubber Bands,3,3,0.2,-0.6048,0.17,Medium,2014,murali,2014-12-31

In [58]:
df['order_year']= df['convert_oreder_date'].dt.year
df['order_year']

0        2011
1        2011
2        2011
3        2011
4        2011
         ...
51285    2014
51286    2014
51287    2014
51288    2014
51289    2014
Name: order_year, Length: 51290, dtype: int64

In [59]:
df['order_month']= df['convert_oreder_date'].dt.month
df['order_month']

0         1
1         1
2         1
3         1
4         1
         ..
51285    12
51286    12
51287    12
51288    12
51289    12
Name: order_month, Length: 51290, dtype: int64

In [60]:
df['order_week']= df['convert_oreder_date'].dt.week

C:\Users\HP\AppData\Local\Temp/ipykernel_16956/290530372.py:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  df['order_week']= df['convert_oreder_date'].dt.week

In [61]:
df['order_week']

0        52
1        52
2        52
3        52
4        52
         ..
51285     1
51286     1
51287     1
51288     1
51289     1
Name: order_week, Length: 51290, dtype: int64

In [62]:
df[['convert_oreder_date','order_week']]

      convert_oreder_date  order_week
0              2011-01-01          52
1              2011-01-01          52
2              2011-01-01          52
3              2011-01-01          52
4              2011-01-01          52
...                   ...         ...
51285          2014-12-31           1
51286          2014-12-31           1
51287          2014-12-31           1
51288          2014-12-31           1
51289          2014-12-31           1

[51290 rows x 2 columns]

In [63]:
df[df['order_year']==2014]

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,discount,profit,shipping_cost,order_priority,year,category1,convert_oreder_date,order_year,order_month,order_week
33759,ES-2014-2774938,1/1/2014,1/3/2014,Second Class,Fred Harton,Consumer,Ile-de-France,France,EU,Central,...,0.15,-111.6225,104.69,High,2014,murali,2014-01-01,2014,1,1
33760,IN-2014-47134,1/1/2014,1/5/2014,Standard Class,Kean Nguyen,Corporate,Victoria,Australia,APAC,Oceania,...,0.10,46.9980,46.20,Medium,2014,murali,2014-01-01,2014,1,1
33761,IT-2014-4810734,1/1/2014,1/3/2014,Second Class,Alan Shonely,Consumer,Ile-de-France,France,EU,Central,...,0.15,-43.1370,37.85,Critical,2014,murali,2014-01-01,2014,1,1
33762,US-2014-105830,1/1/2014,1/3/2014,First Class,Duane Benoit,Consumer,Ohio,United States,US,East,...,0.20,-35.2152,30.66,High,2014,murali,2014-01-01,2014,1,1
33763,CA-2014-160395,1/1/2014,1/7/2014,Standard Class,Kelly Lampkin,Corporate,Nevada,United States,US,West,...,0.20,53.9217,26.90,Low,2014,murali,2014-01-01,2014,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,0.20,4.5188,0.89,Medium,2014,murali,2014-12-31,2014,12,1
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-DraÂƒ,Morocco,Africa,Africa,...,0.00,0.4200,0.49,Medium,2014,murali,2014-12-31,2014,12,1
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,0.00,12.3600,0.35,Medium,2014,murali,2014-12-31,2014,12,1
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,0.00,0.5600,0.20,Medium,2014,murali,2014-12-31,2014,12,1
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,0.20,-0.6048,0.17,Medium,2014,murali,2014-12-31,2014,12,1

In [66]:
df['order_month'].value_counts()

11    6342
12    6302
9     5975
6     5331
8     5078
10    4490
5     3747
7     3166
4     3057
3     3035
1     2599
2     2168
Name: order_month, dtype: int64

In [67]:
df['order_week'].value_counts()

47    1562
46    1532
52    1485
45    1446
49    1439
38    1435
39    1433
48    1424
51    1408
50    1396
36    1396
37    1382
24    1296
25    1253
44    1225
26    1223
34    1197
33    1191
23    1185
35    1103
32    1093
40    1069
42    1003
43     994
22     989
31     953
41     931
19     918
1      893
21     802
20     798
27     772
12     766
16     761
28     734
30     732
18     730
15     711
14     697
17     694
11     693
13     687
29     683
10     645
3      593
4      587
7      582
9      575
2      573
8      549
5      541
6      531
Name: order_week, dtype: int64

In [68]:
df.head()

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,discount,profit,shipping_cost,order_priority,year,category1,convert_oreder_date,order_year,order_month,order_week
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,0.0,106.140,35.46,Medium,2011,murali,2011-01-01,2011,1,52
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,0.1,36.036,9.72,Medium,2011,murali,2011-01-01,2011,1,52
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,0.0,29.640,8.17,High,2011,murali,2011-01-01,2011,1,52
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,0.5,-26.055,4.82,High,2011,murali,2011-01-01,2011,1,52
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,0.1,37.770,4.70,Medium,2011,murali,2011-01-01,2011,1,52

In [70]:
df['cost_to_company'] = df['discount'] +df['shipping_cost']

In [71]:
df

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,profit,shipping_cost,order_priority,year,category1,convert_oreder_date,order_year,order_month,order_week,cost_to_company
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,106.1400,35.46,Medium,2011,murali,2011-01-01,2011,1,52,35.46
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,36.0360,9.72,Medium,2011,murali,2011-01-01,2011,1,52,9.82
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,29.6400,8.17,High,2011,murali,2011-01-01,2011,1,52,8.17
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,-26.0550,4.82,High,2011,murali,2011-01-01,2011,1,52,5.32
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,37.7700,4.70,Medium,2011,murali,2011-01-01,2011,1,52,4.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,4.5188,0.89,Medium,2014,murali,2014-12-31,2014,12,1,1.09
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-DraÂƒ,Morocco,Africa,Africa,...,0.4200,0.49,Medium,2014,murali,2014-12-31,2014,12,1,0.49
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,12.3600,0.35,Medium,2014,murali,2014-12-31,2014,12,1,0.35
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,0.5600,0.20,Medium,2014,murali,2014-12-31,2014,12,1,0.20
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,-0.6048,0.17,Medium,2014,murali,2014-12-31,2014,12,1,0.37

In [72]:
df = df.drop('cost_to_company',axis=1)

In [73]:
df

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,discount,profit,shipping_cost,order_priority,year,category1,convert_oreder_date,order_year,order_month,order_week
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,0.0,106.1400,35.46,Medium,2011,murali,2011-01-01,2011,1,52
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,0.1,36.0360,9.72,Medium,2011,murali,2011-01-01,2011,1,52
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,0.0,29.6400,8.17,High,2011,murali,2011-01-01,2011,1,52
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,0.5,-26.0550,4.82,High,2011,murali,2011-01-01,2011,1,52
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,0.1,37.7700,4.70,Medium,2011,murali,2011-01-01,2011,1,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,0.2,4.5188,0.89,Medium,2014,murali,2014-12-31,2014,12,1
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-DraÂƒ,Morocco,Africa,Africa,...,0.0,0.4200,0.49,Medium,2014,murali,2014-12-31,2014,12,1
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,0.0,12.3600,0.35,Medium,2014,murali,2014-12-31,2014,12,1
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,0.0,0.5600,0.20,Medium,2014,murali,2014-12-31,2014,12,1
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,0.2,-0.6048,0.17,Medium,2014,murali,2014-12-31,2014,12,1

In [74]:
df.drop(1,inplace= True)

In [75]:
df

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,discount,profit,shipping_cost,order_priority,year,category1,convert_oreder_date,order_year,order_month,order_week
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,0.0,106.1400,35.46,Medium,2011,murali,2011-01-01,2011,1,52
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,0.0,29.6400,8.17,High,2011,murali,2011-01-01,2011,1,52
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,0.5,-26.0550,4.82,High,2011,murali,2011-01-01,2011,1,52
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,0.1,37.7700,4.70,Medium,2011,murali,2011-01-01,2011,1,52
5,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,0.1,15.3420,1.80,Medium,2011,murali,2011-01-01,2011,1,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,0.2,4.5188,0.89,Medium,2014,murali,2014-12-31,2014,12,1
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-DraÂƒ,Morocco,Africa,Africa,...,0.0,0.4200,0.49,Medium,2014,murali,2014-12-31,2014,12,1
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,0.0,12.3600,0.35,Medium,2014,murali,2014-12-31,2014,12,1
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,0.0,0.5600,0.20,Medium,2014,murali,2014-12-31,2014,12,1
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,0.2,-0.6048,0.17,Medium,2014,murali,2014-12-31,2014,12,1

In [77]:
df.loc[[2,3]]

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,discount,profit,shipping_cost,order_priority,year,category1,convert_oreder_date,order_year,order_month,order_week
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,0.0,29.640,8.17,High,2011,murali,2011-01-01,2011,1,52
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,0.5,-26.055,4.82,High,2011,murali,2011-01-01,2011,1,52

In [79]:
df.loc[2:10]

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,discount,profit,shipping_cost,order_priority,year,category1,convert_oreder_date,order_year,order_month,order_week
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,0.00,29.6400,8.17,High,2011,murali,2011-01-01,2011,1,52
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,0.50,-26.0550,4.82,High,2011,murali,2011-01-01,2011,1,52
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,0.10,37.7700,4.70,Medium,2011,murali,2011-01-01,2011,1,52
5,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,0.10,15.3420,1.80,Medium,2011,murali,2011-01-01,2011,1,52
6,CA-2011-1510,1/2/2011,1/6/2011,Standard Class,Magdelene Morse,Consumer,Ontario,Canada,Canada,Canada,...,0.00,3.1200,24.10,Medium,2011,murali,2011-01-02,2011,1,52
7,IN-2011-79397,1/3/2011,1/3/2011,Same Day,Kean Nguyen,Corporate,New South Wales,Australia,APAC,Oceania,...,0.10,110.4120,125.32,Critical,2011,murali,2011-01-03,2011,1,1
8,ID-2011-80230,1/3/2011,1/9/2011,Standard Class,Ken Lonsdale,Consumer,Auckland,New Zealand,APAC,Oceania,...,0.40,-319.4640,107.10,Low,2011,murali,2011-01-03,2011,1,1
9,IZ-2011-4680,1/3/2011,1/7/2011,Standard Class,Lindsay Williams,Corporate,Ninawa,Iraq,EMEA,EMEA,...,0.00,253.3200,81.26,High,2011,murali,2011-01-03,2011,1,1
10,IN-2011-65159,1/3/2011,1/7/2011,Second Class,Larry Blacks,Consumer,National Capital,Philippines,APAC,Southeast Asia,...,0.45,-122.8005,33.75,High,2011,murali,2011-01-03,2011,1,1

In [80]:
df.loc[2:10:2]

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,discount,profit,shipping_cost,order_priority,year,category1,convert_oreder_date,order_year,order_month,order_week
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,0.00,29.6400,8.17,High,2011,murali,2011-01-01,2011,1,52
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,0.10,37.7700,4.70,Medium,2011,murali,2011-01-01,2011,1,52
6,CA-2011-1510,1/2/2011,1/6/2011,Standard Class,Magdelene Morse,Consumer,Ontario,Canada,Canada,Canada,...,0.00,3.1200,24.10,Medium,2011,murali,2011-01-02,2011,1,52
8,ID-2011-80230,1/3/2011,1/9/2011,Standard Class,Ken Lonsdale,Consumer,Auckland,New Zealand,APAC,Oceania,...,0.40,-319.4640,107.10,Low,2011,murali,2011-01-03,2011,1,1
10,IN-2011-65159,1/3/2011,1/7/2011,Second Class,Larry Blacks,Consumer,National Capital,Philippines,APAC,Southeast Asia,...,0.45,-122.8005,33.75,High,2011,murali,2011-01-03,2011,1,1

In [82]:
df.loc[0:4]

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,discount,profit,shipping_cost,order_priority,year,category1,convert_oreder_date,order_year,order_month,order_week
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,0.0,106.140,35.46,Medium,2011,murali,2011-01-01,2011,1,52
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,0.0,29.640,8.17,High,2011,murali,2011-01-01,2011,1,52
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,0.5,-26.055,4.82,High,2011,murali,2011-01-01,2011,1,52
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,0.1,37.770,4.70,Medium,2011,murali,2011-01-01,2011,1,52

In [85]:
#loc will take only named indexes 
df.loc[0:4,['order_id','order_date','ship_date','ship_mode']]

          order_id order_date ship_date       ship_mode
0     AG-2011-2040   1/1/2011  1/6/2011  Standard Class
2     HU-2011-1220   1/1/2011  1/5/2011    Second Class
3  IT-2011-3647632   1/1/2011  1/5/2011    Second Class
4    IN-2011-47883   1/1/2011  1/8/2011  Standard Class

In [87]:
#it understand default indexs system store record
df.iloc[0:4,0:3]

          order_id order_date ship_date
0     AG-2011-2040   1/1/2011  1/6/2011
2     HU-2011-1220   1/1/2011  1/5/2011
3  IT-2011-3647632   1/1/2011  1/5/2011
4    IN-2011-47883   1/1/2011  1/8/2011

In [89]:
df.loc[3:7,['ship_mode','customer_name','segment']]

        ship_mode    customer_name      segment
3    Second Class     Eugene Moren  Home Office
4  Standard Class      Joseph Holt     Consumer
5  Standard Class      Joseph Holt     Consumer
6  Standard Class  Magdelene Morse     Consumer
7        Same Day      Kean Nguyen    Corporate

In [90]:
df.columns

Index(['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_name',
       'segment', 'state', 'country', 'market', 'region', 'product_id',
       'category', 'sub_category', 'product_name', 'sales', 'quantity',
       'discount', 'profit', 'shipping_cost', 'order_priority', 'year',
       'category1', 'convert_oreder_date', 'order_year', 'order_month',
       'order_week'],
      dtype='object')

In [91]:
df.groupby('order_year')['profit'].mean()

order_year
2011    27.665308
2012    28.043722
2013    29.604519
2014    28.758540
Name: profit, dtype: float64

In [92]:
df.groupby('order_year')['shipping_cost'].mean()

order_year
2011    27.149201
2012    25.861329
2013    26.418577
2014    26.268197
Name: shipping_cost, dtype: float64

In [93]:
df.groupby('order_year')['discount'].mean()

order_year
2011    0.148193
2012    0.141286
2013    0.140265
2014    0.143291
Name: discount, dtype: float64

In [ ]:
df.groupby('order_year')['discount'].mean()

In [97]:
df['sales']=df.sales.str.replace(',','').astype(int)

In [98]:
df.dtypes

order_id                       object
order_date                     object
ship_date                      object
ship_mode                      object
customer_name                  object
segment                        object
state                          object
country                        object
market                         object
region                         object
product_id                     object
category                       object
sub_category                   object
product_name                   object
sales                           int32
quantity                        int64
discount                      float64
profit                        float64
shipping_cost                 float64
order_priority                 object
year                            int64
category1                      object
convert_oreder_date    datetime64[ns]
order_year                      int64
order_month                     int64
order_week                      int64
dtype: object

In [99]:
df.groupby('order_year')['sales'].mean()

order_year
2011    251.127153
2012    244.252235
2013    246.819335
2014    245.282129
Name: sales, dtype: float64

In [101]:
df.groupby('order_year')['quantity'].mean()

order_year
2011    3.494498
2012    3.476647
2013    3.488369
2014    3.457989
Name: quantity, dtype: float64