## FitBit Data Set Task

Submitted by Murali Divya Teja Gummadidala

### Task

Link: https://drive.google.com/drive/folders/1zRQjEqbUWCIrBOk3rqMXI_5luwfN0QnY

#Task 1 - Fitbit Dataset

1. Read this dataset in pandas , mysql and mongodb 
2. while creting a table in mysql dont use manual approach to create it  ,always use a automation to create a table in mysql
 ## hint - use csvkit library to automate this task and to load a data in bulk in you mysql 
3. convert all the dates avaible in dataset to timestamp format in pandas and in sql you to convert it in date format
4. Find out in this data that how many unique id's we have 
5. which id is one of the active id that you have in whole dataset 
6. how many of them have not logged there activity find out in terms of number of ids 
7. Find out who is the laziest person id that we have in dataset 
8. Explore over an internet that how much calories burn is required for a healthy person and find out how many healthy person we have in our dataset 
9. how many person are not a regular person with respect to activity try to find out those 
10. who is the thired most active person in this dataset find out those in pandas and in sql both . 
11. who is the 5th most laziest person avilable in dataset find it out 
12. what is a totla acumulative calories burn for a person find out

#### 1. Read this dataset in pandas , mysql and mongodb

In [6]:
import pandas as pd
import mysql.connector as conn
import logging

In [7]:
logging.basicConfig(filename='fitbit.log',level = logging.DEBUG,format = '[%(levelname)s]:%(name)s:%(asctime)s:%(message)s')

In [8]:
logging.debug('Loading fitbit data in to data frame')

In [9]:

f_df = pd.read_csv('C:\\Users\\HP\\Documents\\python-practice\\Pandas_Classes\\data fsds\\FitBit data.csv')
f_df.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886

In [10]:
!pip install csvkit

Requirement already satisfied: csvkit in c:\users\hp\anaconda3\lib\site-packages (1.0.7)
Requirement already satisfied: agate-sql>=0.5.3 in c:\users\hp\anaconda3\lib\site-packages (from csvkit) (0.5.8)
Requirement already satisfied: six>=1.6.1 in c:\users\hp\anaconda3\lib\site-packages (from csvkit) (1.16.0)
Requirement already satisfied: agate>=1.6.1 in c:\users\hp\anaconda3\lib\site-packages (from csvkit) (1.6.3)
Requirement already satisfied: agate-excel>=0.2.2 in c:\users\hp\anaconda3\lib\site-packages (from csvkit) (0.2.5)
Requirement already satisfied: agate-dbf>=0.2.2 in c:\users\hp\anaconda3\lib\site-packages (from csvkit) (0.2.2)
Requirement already satisfied: parsedatetime!=2.5,!=2.6,>=2.1 in c:\users\hp\anaconda3\lib\site-packages (from agate>=1.6.1->csvkit) (2.4)
Requirement already satisfied: isodate>=0.5.4 in c:\users\hp\anaconda3\lib\site-packages (from agate>=1.6.1->csvkit) (0.6.1)
Requirement already satisfied: python-slugify>=1.2.1 in c:\users\hp\anaconda3\lib\site-packages (from agate>=1.6.1->csvkit) (5.0.2)
Requirement already satisfied: leather>=0.3.2 in c:\users\hp\anaconda3\lib\site-packages (from agate>=1.6.1->csvkit) (0.3.4)
Requirement already satisfied: Babel>=2.0 in c:\users\hp\anaconda3\lib\site-packages (from agate>=1.6.1->csvkit) (2.9.1)
Requirement already satisfied: pytimeparse>=1.1.5 in c:\users\hp\anaconda3\lib\site-packages (from agate>=1.6.1->csvkit) (1.1.8)
Requirement already satisfied: dbfread>=2.0.5 in c:\users\hp\anaconda3\lib\site-packages (from agate-dbf>=0.2.2->csvkit) (2.0.7)
Requirement already satisfied: olefile in c:\users\hp\anaconda3\lib\site-packages (from agate-excel>=0.2.2->csvkit) (0.46)
Requirement already satisfied: xlrd>=0.9.4 in c:\users\hp\anaconda3\lib\site-packages (from agate-excel>=0.2.2->csvkit) (2.0.1)
Requirement already satisfied: openpyxl>=2.3.0 in c:\users\hp\anaconda3\lib\site-packages (from agate-excel>=0.2.2->csvkit) (3.0.9)
Requirement already satisfied: sqlalchemy>=1.0.8 in c:\users\hp\anaconda3\lib\site-packages (from agate-sql>=0.5.3->csvkit) (1.4.22)
Requirement already satisfied: pytz>=2015.7 in c:\users\hp\anaconda3\lib\site-packages (from Babel>=2.0->agate>=1.6.1->csvkit) (2021.3)
Requirement already satisfied: et-xmlfile in c:\users\hp\anaconda3\lib\site-packages (from openpyxl>=2.3.0->agate-excel>=0.2.2->csvkit) (1.1.0)
Requirement already satisfied: future in c:\users\hp\anaconda3\lib\site-packages (from parsedatetime!=2.5,!=2.6,>=2.1->agate>=1.6.1->csvkit) (0.18.2)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\hp\anaconda3\lib\site-packages (from python-slugify>=1.2.1->agate>=1.6.1->csvkit) (1.3)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\hp\anaconda3\lib\site-packages (from sqlalchemy>=1.0.8->agate-sql>=0.5.3->csvkit) (1.1.1)

C:\Users\HP\anaconda3\lib\site-packages\IPython\utils\_process_win32.py:145: ResourceWarning: unclosed file <_io.BufferedWriter name=5>
C:\Users\HP\anaconda3\lib\site-packages\IPython\utils\_process_win32.py:145: ResourceWarning: unclosed file <_io.BufferedReader name=6>
C:\Users\HP\anaconda3\lib\site-packages\IPython\utils\_process_win32.py:145: ResourceWarning: unclosed file <_io.BufferedReader name=7>

In [3]:
import csvkit

In [4]:
from csvkit.utilities.csvsql import CSVSQL

In [11]:
logging.debug('Loading csv file into mysql data base')
args_query1 = ['--query','--db mysql+mysqlconnector://root:MuRali0423@localhost:3306/task --tables test1 --insert','C:\\Users\\HP\\Documents\\python-practice\\Pandas_Classes\\data fsds\\FitBit data.csv']
print("Result for the query - 1:")
result1  = CSVSQL(args_query1)
print(result1.main())

Result for the query - 1:

C:\Users\HP\anaconda3\lib\site-packages\agate\table\from_csv.py:74: RuntimeWarning: Error sniffing CSV dialect: Could not determine delimiter

None

### Note : Data is not added to mysql so using sql alchemy to push data into mysql

In [12]:
from sqlalchemy import engine

In [15]:
try:
    logging.info('Creating the connection to mysql database')
    db = conn.connect(host='localhost', user = 'root', password = 'MuRali0423', database ='task')
    logging.info(db)
    logging.info('Connection to mysql is successful')
    print('Connection to mysql is successful')
    cursor = db.cursor()
    cursor.execute('create database FitBitdata')
    logging.info('db created succesfully in mysql')
    print('db created succesfully in mysql')

except Exception as e:
    logging.exception(e)

Connection to mysql is successful
db created succesfully in mysql

In [19]:
#Engine Creation
logging.info('Connection to engine')
engine = create_engine('mysql+pymysql://root:MuRali0423@localhost/FitBitdata')
logging.info('Engine created successuflly')

NameError: name 'create_engine' is not defined

In [20]:
import pymongo
import json

In [22]:
f_df

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.110000,7.110000,0.0,2.57,0.46,4.07,0.00,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.550000,11.550000,0.0,6.92,0.73,3.91,0.00,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.530000,8.530000,0.0,4.66,0.16,3.71,0.00,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.930000,8.930000,0.0,3.19,0.79,4.95,0.00,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.850000,7.850000,0.0,2.16,1.09,4.61,0.00,28,28,243,763,1886
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,8877689391,4/8/2016,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196
453,8877689391,4/9/2016,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841
454,8877689391,4/10/2016,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526
455,8877689391,4/11/2016,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820
456,8877689391,4/12/2016,2350,1.780000,1.780000,0.0,0.00,0.00,1.78,0.00,0,0,58,531,938

In [23]:
f_df.to_json('Fitbit.json')

In [25]:
try:
    logging.debug('Createing connection for mongodb an testing the connection')
    client = pymongo.MongoClient("mongodb+srv://murali:mongodb123@cluster0.fxgp1cv.mongodb.net/?retryWrites=true&w=majority")
    logging.info('Connection is')
    db = client.test
    logging.info(db)
    logging.debug('creating the new database and collection for database')
    db_att = client['fitbit_ds']
    collection = db_att['fitbit']
    logging.info('Database and collection has created')
    logging.debug('accessing fitbit json data from json file')
    with open('C:\\Users\\HP\\Documents\\python-practice\\Pandas_Classes\\Fitbit.json') as f:
        dress_json = json.load(f)
    logging.info('loading the json data into Mongodb data base ')
    if isinstance(dress_json, list):
        collection.insert_many(dress_json)
    else:
        collection.insert_one(dress_json)
    print('inserted to mongo db successfully')
    logging.info(dress_json)
except Exception as e:
    logging.exception(e)

inserted to mongo db successfully

#### Csv kit is not successful

###  3. convert all the dates avaible in dataset to timestamp format in pandas and in sql you to convert it in date format

In [26]:
f_df

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.110000,7.110000,0.0,2.57,0.46,4.07,0.00,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.550000,11.550000,0.0,6.92,0.73,3.91,0.00,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.530000,8.530000,0.0,4.66,0.16,3.71,0.00,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.930000,8.930000,0.0,3.19,0.79,4.95,0.00,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.850000,7.850000,0.0,2.16,1.09,4.61,0.00,28,28,243,763,1886
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,8877689391,4/8/2016,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196
453,8877689391,4/9/2016,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841
454,8877689391,4/10/2016,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526
455,8877689391,4/11/2016,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820
456,8877689391,4/12/2016,2350,1.780000,1.780000,0.0,0.00,0.00,1.78,0.00,0,0,58,531,938

In [27]:
f_df.dtypes

Id                            int64
ActivityDate                 object
TotalSteps                    int64
TotalDistance               float64
TrackerDistance             float64
LoggedActivitiesDistance    float64
VeryActiveDistance          float64
ModeratelyActiveDistance    float64
LightActiveDistance         float64
SedentaryActiveDistance     float64
VeryActiveMinutes             int64
FairlyActiveMinutes           int64
LightlyActiveMinutes          int64
SedentaryMinutes              int64
Calories                      int64
dtype: object

In [28]:
f_df['ActivityDate'] = pd.to_datetime(f_df['ActivityDate'])
f_df

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,2016-03-25,11004,7.110000,7.110000,0.0,2.57,0.46,4.07,0.00,33,12,205,804,1819
1,1503960366,2016-03-26,17609,11.550000,11.550000,0.0,6.92,0.73,3.91,0.00,89,17,274,588,2154
2,1503960366,2016-03-27,12736,8.530000,8.530000,0.0,4.66,0.16,3.71,0.00,56,5,268,605,1944
3,1503960366,2016-03-28,13231,8.930000,8.930000,0.0,3.19,0.79,4.95,0.00,39,20,224,1080,1932
4,1503960366,2016-03-29,12041,7.850000,7.850000,0.0,2.16,1.09,4.61,0.00,28,28,243,763,1886
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,8877689391,2016-04-08,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196
453,8877689391,2016-04-09,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841
454,8877689391,2016-04-10,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526
455,8877689391,2016-04-11,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820
456,8877689391,2016-04-12,2350,1.780000,1.780000,0.0,0.00,0.00,1.78,0.00,0,0,58,531,938

In [29]:
f_df.dtypes

Id                                   int64
ActivityDate                datetime64[ns]
TotalSteps                           int64
TotalDistance                      float64
TrackerDistance                    float64
LoggedActivitiesDistance           float64
VeryActiveDistance                 float64
ModeratelyActiveDistance           float64
LightActiveDistance                float64
SedentaryActiveDistance            float64
VeryActiveMinutes                    int64
FairlyActiveMinutes                  int64
LightlyActiveMinutes                 int64
SedentaryMinutes                     int64
Calories                             int64
dtype: object

#### 4. Find out in this data that how many unique id's we have

In [34]:
f_df['Id'].unique()
print('unique ids in fit bit data',len(f_df['Id'].unique()))
logging.info(len(f_df['Id'].unique()))

unique ids in fit bit data 35

#### 5.which id is one of the active id that you have in whole dataset

In [37]:
logging.info('TotalActiveMinutes is sum of active minutes which gives whole activity of people')
f_df["TotalActiveMinutes"]=(f_df['VeryActiveMinutes']+f_df['FairlyActiveMinutes'] + f_df['LightlyActiveMinutes'])
f_df

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,TotalActiveMinutes
0,1503960366,2016-03-25,11004,7.110000,7.110000,0.0,2.57,0.46,4.07,0.00,33,12,205,804,1819,250
1,1503960366,2016-03-26,17609,11.550000,11.550000,0.0,6.92,0.73,3.91,0.00,89,17,274,588,2154,380
2,1503960366,2016-03-27,12736,8.530000,8.530000,0.0,4.66,0.16,3.71,0.00,56,5,268,605,1944,329
3,1503960366,2016-03-28,13231,8.930000,8.930000,0.0,3.19,0.79,4.95,0.00,39,20,224,1080,1932,283
4,1503960366,2016-03-29,12041,7.850000,7.850000,0.0,2.16,1.09,4.61,0.00,28,28,243,763,1886,299
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,8877689391,2016-04-08,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196,458
453,8877689391,2016-04-09,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841,388
454,8877689391,2016-04-10,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526,385
455,8877689391,2016-04-11,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820,250
456,8877689391,2016-04-12,2350,1.780000,1.780000,0.0,0.00,0.00,1.78,0.00,0,0,58,531,938,58

In [43]:
f_df.sort_values('TotalActiveMinutes',ascending=False).iloc[0]

Id                                   2891001357
ActivityDate                2016-04-02 00:00:00
TotalSteps                                 4126
TotalDistance                              3.22
TrackerDistance                             0.0
LoggedActivitiesDistance               3.218688
VeryActiveDistance                          0.0
ModeratelyActiveDistance                    0.0
LightActiveDistance                        3.22
SedentaryActiveDistance                     0.0
VeryActiveMinutes                             0
FairlyActiveMinutes                           0
LightlyActiveMinutes                        720
SedentaryMinutes                            720
Calories                                   2881
TotalActiveMinutes                          720
Name: 139, dtype: object

#### 6. how many of them have not logged there activity find out in terms of number of ids

In [45]:
len(f_df[f_df['TotalActiveMinutes']== 0]['Id'].unique())

15

#### 7.Find out who is the laziest person id that we have in dataset

In [47]:
f_df[f_df['Calories']>0].sort_values(['Calories']).iloc[[0]] #Person with ID 1503960366 is the laziest person

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,TotalActiveMinutes
18,1503960366,2016-04-12,224,0.14,0.14,0.0,0.0,0.0,0.13,0.0,0,0,9,32,50,9

#### 8.Explore over an internet that how much calories burn is required for a healthy person and find out how many healthy person we have in our dataset

In [53]:
h = """According to Internet: As a general guideline, women typically burn about 2,000 calories per day and men burn about 2,500 calories per day. These numbers are often used to determine 
an approximate food intake for weight maintenance. As we don.t know the exact gender of the person, we will take average of both.
i.e. 2250 calories are required to be burned per day for a healthy person"""
logging.info(h)
print(h)
len(f_df[f_df['Calories']>2250]['Id'].unique())
logging.info('healthy persons in the group are '+str(len(f_df[f_df['Calories']>2250]['Id'].unique())))

According to Internet: As a general guideline, women typically burn about 2,000 calories per day and men burn about 2,500 calories per day. These numbers are often used to determine
an approximate food intake for weight maintenance. As we don.t know the exact gender of the person, we will take average of both.
i.e. 2250 calories are required to be burned per day for a healthy person

#### 9.how many person are not a regular person with respect to activity try to find out those

### 10. who is the thired most active person in this dataset find out those in pandas and in sql both

In [54]:
f_df.sort_values('TotalActiveMinutes',ascending=False).iloc[2]

Id                                   2891001357
ActivityDate                2016-04-05 00:00:00
TotalSteps                                 2063
TotalDistance                              1.61
TrackerDistance                             0.0
LoggedActivitiesDistance               1.609344
VeryActiveDistance                          0.0
ModeratelyActiveDistance                    0.0
LightActiveDistance                        1.61
SedentaryActiveDistance                     0.0
VeryActiveMinutes                             0
FairlyActiveMinutes                           0
LightlyActiveMinutes                        630
SedentaryMinutes                             99
Calories                                   1144
TotalActiveMinutes                          630
Name: 142, dtype: object

#### 11.who is the 5th most laziest person avilable in dataset find it out

In [57]:
f_df.sort_values('TotalSteps').iloc[4]

Id                                   6391747486
ActivityDate                2016-04-08 00:00:00
TotalSteps                                    0
TotalDistance                               0.0
TrackerDistance                             0.0
LoggedActivitiesDistance                    0.0
VeryActiveDistance                          0.0
ModeratelyActiveDistance                    0.0
LightActiveDistance                         0.0
SedentaryActiveDistance                     0.0
VeryActiveMinutes                             0
FairlyActiveMinutes                           0
LightlyActiveMinutes                          0
SedentaryMinutes                           1440
Calories                                   1820
TotalActiveMinutes                            0
Name: 341, dtype: object

In [58]:
logging.info(f_df.sort_values('TotalSteps').iloc[4])

### 12.what is a totla acumulative calories burn for a person find out

In [68]:
acm = f_df.groupby('Id')

In [69]:
acm.groups

{1503960366: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18], 1624580081: [19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37], 1644430081: [38, 39, 40, 41, 42, 43, 44, 45, 46, 47], 1844505072: [48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59], 1927972279: [60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71], 2022484408: [72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83], 2026352035: [84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95], 2320127002: [96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107], 2347167796: [108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122], 2873212765: [123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134], 2891001357: [135, 136, 137, 138, 139, 140, 141, 142], 3372868164: [143, 144, 145, 146, 147, 148, 149, 150, 151, 152], 3977333714: [153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164], 4020332650: [165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196], 4057192912: [197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228], 4319703577: [229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240], 4388161847: [241, 242, 243, 244, 245, 246, 247, 248], 4445114986: [249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263], 4558609924: [264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275], 4702921684: [276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290], 5553957443: [291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302], 5577150313: [303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313], 6117666160: [314, 315, 316, 317, 318, 319, 320, 321, 322, 323], 6290855005: [324, 325, 326, 327, 328, 329, 330, 331, 332, 333], 6391747486: [334, 335, 336, 337, 338, 339, 340, 341, 342], 6775888955: [343, 344, 345, 346, 347, 348, 349, 350, 351], 6962181067: [352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365], 7007744171: [366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377], 7086361926: [378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389], 8053475328: [390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400], 8253242879: [401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412], 8378563200: [413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424], 8583815059: [425, 426, 427, 428, 429, 430, 431, 432], 8792009665: [433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444], 8877689391: [445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456]}

In [70]:
acm.sum()

,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,TotalActiveMinutes
Id,,,,,,,,,,,,,,
1503960366,221170,144.540001,144.540001,0.000000,52.890000,12.07,79.390000,0.00,681,301,4336,15387,34128,5318
1624580081,80299,52.189999,52.189999,0.000000,0.980000,0.52,50.530000,0.10,14,11,2300,24288,25705,2325
1644430081,92748,67.490000,67.490000,0.000000,11.340000,20.30,35.800000,0.08,148,435,2277,10342,29164,2860
1844505072,43687,28.880000,28.880000,0.000000,0.610000,0.37,27.890000,0.00,9,9,1902,12424,19391,1920
1927972279,26170,18.130000,18.130000,0.000000,0.000000,0.74,17.390000,0.00,0,20,1340,11435,27048,1360
2022484408,146099,105.290001,105.290001,0.000000,37.030000,10.61,57.670000,0.00,481,270,3046,12707,29704,3797
2026352035,40713,25.240000,25.240000,0.000000,0.000000,0.00,25.240000,0.00,0,0,2032,7910,16266,2032
2320127002,37661,25.470000,25.470000,0.000000,0.950000,0.54,23.979999,0.00,11,13,1511,14991,18385,1535
2347167796,147001,97.670001,97.670001,0.000000,12.920000,18.91,65.809999,0.00,177,347,3803,10258,30320,4327
2873212765,79639,53.630001,53.630001,0.000000,3.960000,3.13,46.520000,0.02,61,72,3303,13643,20349,3436
2891001357,6189,4.830000,0.000000,9.656064,0.000000,0.00,4.830000,0.00,0,660,1350,8799,18187,2010
3372868164,61275,42.160000,42.160000,0.000000,7.440000,1.14,33.460000,0.14,118,35,2869,10851,18603,3022
3977333714,103967,69.679999,69.679999,0.000000,10.020000,16.43,43.070000,0.00,146,375,2483,8505,16777,3004
4020332650,184851,132.600000,132.600000,0.000000,5.300000,6.29,71.710000,0.20,130,245,4172,34663,98412,4547
4057192912,60391,44.450000,45.020000,0.055843,3.200000,7.78,33.170000,0.06,40,169,1384,43458,60913,1593
4319703577,93847,63.070000,63.070000,0.000000,5.540000,8.60,48.910000,0.00,79,219,2984,9361,23931,3282
4388161847,0,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.00,0,0,0,11074,14442,0
4445114986,64396,43.600000,43.600000,0.000000,6.350000,0.62,36.609999,0.00,76,14,3009,12921,31617,3099
4558609924,69423,45.880000,45.880000,0.000000,2.170000,1.37,42.320000,0.00,52,33,2998,13024,21962,3083
4702921684,119151,96.690000,96.690000,0.000000,3.570000,12.17,80.840000,0.00,44,259,3701,10901,42322,4004
5553957443,100257,65.500000,65.500000,0.000000,18.140000,10.43,36.910000,0.00,283,200,2200,7293,21630,2683
5577150313,94690,70.930000,70.930000,0.000000,34.260000,7.12,29.520000,0.00,900,310,1730,7324,36303,2940
6117666160,82486,62.270000,62.270000,0.000000,0.420000,2.73,59.090000,0.00,5,41,2999,8641,20993,3045
6290855005,16181,12.230000,12.230000,0.000000,2.020000,3.68,6.530000,0.00,78,107,393,12896,21656,578
6391747486,12032,9.670000,0.910000,8.754830,2.030000,0.05,7.590000,0.00,46,6,309,11357,15868,361
6775888955,50031,35.870000,35.870000,0.000000,8.480000,10.59,16.410000,0.00,179,443,1116,9161,24523,1738
6962181067,176956,121.070000,117.400001,14.052416,36.130000,24.99,59.850000,0.10,495,406,3620,8488,29249,4521
7007744171,147124,106.280000,98.440000,34.351326,42.479999,7.86,55.890000,0.05,536,195,3330,12008,31525,4061
7086361926,73247,49.130000,49.130000,0.000000,18.350000,6.66,23.920000,0.06,315,212,1215,10666,26124,1742
8053475328,163288,127.340000,127.340000,0.000000,93.930000,5.43,27.950000,0.00,933,125,1698,12259,31825,2756
8253242879,28679,20.150000,20.150000,0.000000,7.240000,3.39,9.510000,0.03,70,56,711,16228,17556,837
8378563200,97623,77.420000,77.420000,15.127832,23.580000,6.32,47.540000,0.00,665,124,2027,8210,40274,2816
8583815059,24364,19.020000,19.020000,0.000000,0.370000,0.73,17.880000,0.00,5,15,1097,10094,19130,1117
8792009665,37139,23.770000,23.770000,0.000000,0.580000,1.37,21.820000,0.00,18,65,1585,10723,24884,1668
8877689391,209005,169.089998,169.089998,0.000000,87.390000,5.80,75.270001,0.03,802,181,2892,12554,41414,3875

In [71]:
acm[['Id','Calories']]

In [74]:
acm1 = f_df.groupby('Id').sum()

In [77]:
acm1[['Calories']]

            Calories
Id
1503960366     34128
1624580081     25705
1644430081     29164
1844505072     19391
1927972279     27048
2022484408     29704
2026352035     16266
2320127002     18385
2347167796     30320
2873212765     20349
2891001357     18187
3372868164     18603
3977333714     16777
4020332650     98412
4057192912     60913
4319703577     23931
4388161847     14442
4445114986     31617
4558609924     21962
4702921684     42322
5553957443     21630
5577150313     36303
6117666160     20993
6290855005     21656
6391747486     15868
6775888955     24523
6962181067     29249
7007744171     31525
7086361926     26124
8053475328     31825
8253242879     17556
8378563200     40274
8583815059     19130
8792009665     24884
8877689391     41414